<header class="navigation">
  <div class="menu-wrapper">
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <%if user_signed_in? %>

          <li><%= link_to 'Add Note', new_note_path %></li>

        <li><%= link_to 'My Notes', root_path %></li>
        <li><%= link_to 'Notes Shared with me', shared_notes_path %></li>




        <div class="navigation-tools">
          <li><%= link_to "Hello #{current_user.email}", '#' %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
        </div>
      <% else %>
          <div class="navigation-tools">
          <li><%= link_to "Sign in",new_user_session_path %></li>
        </div>
      <% end %>
      </ul>
    </div>
  </div>
</header>

<script>
$(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
        menu.removeAttr('style');
        }
        });
      });

    // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
        });
      $(this).addClass("active-nav-item");
      $(".nav .more").removeClass("active-nav-item");
      });
});
</script>
